.body {
  background-color: #6750F8;
  width: 100vw;
  height: 100vh;
}

.iconCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.infoIcon {
  margin-right: 7px;
}

.infoText {
  position: relative;
  bottom: 4px;
}
