.LoginPage {
  background-color: #6750F8;
  width: 100%;
  height: 100%;
  color: white;
}

.MarginAuto {
  margin: auto;
}

.MarginLRAuto {
  margin-left: auto;
  margin-right: auto;
}

.AuthMarginTB {
  margin-top: 104px;
  margin-bottom: 109px;
}

.grid {
  display: grid;
}

.auth {
  position: relative;
  top: 700px;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 40px;
  color: black;
  animation: auth .47s forwards;
}

.auth > h1 {
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  margin: 0;
  margin-top: 6px;
}

.LoginForm {
  margin-top: 78px;
}

.LoginForm > p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 12px;
  color: rgba(95, 95, 95, 1);
  margin-top: 24px;
  margin-bottom: 10px;
}

.LoginForm > input[type="text"], 
.LoginForm > input[type="password"] {
  background-color: #EAEAEA;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  border: 0;
  padding: 22px 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
}

.SignUpPage {
  background-color: #fff;
}

.SignUpForm {
  padding: 52px 40px;
}

.SignUpForm > .title {
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  color: #343A40;
  margin-top: 10px;
}

.SignUpForm > p {
  font-size: 13px;
  font-weight: 600;
  line-height: 12px;
  color: #5F5F5F;
  margin-top: 36px;
  margin-bottom: 10px;
}

.SignUpForm > label {
  display: flex;
}

.SignUpForm > input[type="text"],
.SignUpForm > input[type="password"],
.SignUpForm > input[type="email"] {
  background-color: #EAEAEA;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  border: 0;
  padding: 22px 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 8px;
}

.SignUpForm > label > input[type="text"],
.SignUpForm > label > input[type="password"],
.SignUpForm > label > input[type="email"] {
  background-color: #EAEAEA;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  border: 0;
  padding: 22px 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  margin-bottom: 8px;
}

.SignUpForm > label > input[type="text"]:disabled,
.SignUpForm > label > input[type="password"]:disabled,
.SignUpForm > label > input[type="email"]:disabled {
  background-color: #D0D0D0;
}

.email {
  border-radius: 10px 0px 0px 10px !important;
}

.SignUpForm > label > button {
  width: 140px;
  height: 44px;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
  padding: 13px 12px 13px 12px;
  background-color: #EAEAEA;
  color: rgba(103, 80, 248, 1);
  font-weight: 500;
  font-size: 11px;
  line-height: 10px;
}

.SignUpForm > label > button:disabled {
  background-color: #D0D0D0;
}

.SubmitBtn {
  background-color: #6750F8;
  border-radius: 10px;
  border: 0;
  color: white;
  width: 100%;
  height: 44px;
  margin-top: 48px;
  margin-bottom: 6px;
}

.Accountfooter {
  margin-top: 8px;
  text-align: center;
  color: #343A40;
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
}

.Accountfooter > a {
  color: #6750F8;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes auth {
  from {
    top: 700px;
  }

  to {
    top: 0px;
  }
}
